.intro{
    margin:2%;
    box-shadow: 0 0 27px 5px #eeecec ;
    background-color: #eeecec;
}
.firstLine{
    padding: 1%;
    font-size: 200%;
    font-weight: bold;
}
.otherLine{
    padding: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 100%;
}
.impLine{
    padding: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 150%;
    font-weight: 450;
}

